
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, rgb(123, 236, 193), rgb(202, 248, 223));
}

.form-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 400px;
  box-shadow: 0 40px 20px rgb(202, 248, 223);
  border-radius: 20px;
}

.img-div {
  width: 100%;
}

.left-text {
  padding: 100px 60px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.left-text p {
  text-transform: none;
  font-size: 30px;
  width: 18vw;
  margin-right: 15px;
}

.right-text {
  margin: 60px 40px;
}

.right-text h6 {
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 5px;
}

.right-text input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 25px;
}

 #message {
    width: 100%;
    padding: 10px 10px 50px;
    border-radius: 25px;
}

.right-text button {
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: inline-block;
    margin-top: 2px;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;

}

#errorMessage {
    color: red;
}

@media screen and (min-width: 768px) {
    div.form-div {
        flex-direction: row;
        width: 100%;
    }
    div.img-div{
        height: 420px;
        min-width: 360px;
    }
    div.right-text {
        margin: 0 60px;
        max-width: 640px;
    }
}

@media screen and (min-width: 1024px) {
    div.form-area{
        max-width: 1000px;    }
    
}

@media screen and (max-width: 320px) {
    .img-div {
        display: none;
    }    
    .right-text{
        margin: 30px 25px;
        text-align: center;
    }
    .right-text input {
        padding: 15px 5px;
    }
    .right-text textarea{
        padding: 15px 5px;
    }
}